.hero {
  background: url(../public/assets/vectors/hero-bg.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: auto 100%;
}
@media screen and (max-width: 768px) {
  .hero {
    background: none;
  }
}

/* Our Features */
.features {
  background-image: url(../public/assets/vectors/features-bg.svg);
  background-repeat: no-repeat;
  background-position-y: 30%;
}
.feature_item {
  width: 31.7%;
}
@media screen and (max-width: 768px) {
  .feature_item {
    width: 100%;
    margin-bottom: 1.125rem;
  }
}

/* Tokenomics */
.token_item {
  min-width: 196px;
  margin-right: 1.5rem;
}
@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
}
@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-200px * 6.8));
    transform: translateX(calc(-200px * 6.8));
  }
}
.slider_tokenomics::before,
.slider_tokenomics::after {
  content: "";
  position: absolute;
  z-index: 2;
}
.slider_tokenomics::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}
.slider_tokenomics::before {
  left: 0;
  top: 0;
}
.slider_tokenomics .slide_track {
  -webkit-animation: scroll 20s linear infinite;
  animation: scroll 20s linear infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(200px * 7);

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* Governance */
.governance {
  background: url(../public/assets/vectors/Sphere_gold.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 50%;
}
.governance_left {
  width: 49%;
  border: 1px solid rgba(38, 105, 245, 0.25);
}
.governance_right {
  width: 48.45%;
}
.governance_right_item {
  background: linear-gradient(
    102.08deg,
    rgba(58, 72, 97, 0) 0%,
    rgba(58, 72, 98, 0) 0.01%,
    rgba(38, 105, 245, 0.5) 100%
  );

  border: 1px solid #3a4861;
  box-sizing: border-box;
  backdrop-filter: blur(40px);
}
@media screen and (max-width: 768px) {
  .governance {
    background: none;
  }
  .governance_left,
  .governance_right {
    width: 100%;
  }
}

/* Lending & Borrowing */
.lending_borrowing {
  background: url(../public/assets/vectors/circle.svg);
  background-repeat: no-repeat;
  background-position-x: 45%;
  background-position-y: 50%;
}
.lb_left {
  width: 49%;
}
.lb_right {
  width: 48.45%;
}
.lb_right_item_1 {
  border-radius: 16px;

  border-image-source: linear-gradient(
    90deg,
    rgba(58, 72, 97, 0) 0%,
    #2669f5 100%
  );
  border: 1px solid rgba(38, 105, 245, 0.25);
  background: linear-gradient(279.77deg, #09162e 0%, rgba(9, 22, 46, 0) 100%);
  backdrop-filter: blur(40px);
}
.lb_right_item_2 {
  background: linear-gradient(
    102.08deg,
    rgba(58, 72, 97, 0) 0%,
    rgba(58, 72, 98, 0) 0.01%,
    rgba(38, 105, 245, 0.5) 100%
  );
  backdrop-filter: blur(40px);

  border-radius: 16px;

  border-image-source: linear-gradient(
    90deg,
    #2669f5 0%,
    rgba(58, 72, 97, 0) 100%
  );
  border: 1px solid rgba(38, 105, 245, 0.25);
}
@media screen and (max-width: 768px) {
  .lending_borrowing {
    background: none;
  }
  .lb_left {
    width: 100%;
  }
}

/* Why LFI */
.why_img {
  background: url(../public/assets/vectors/why-lfi.svg);
  background-repeat: no-repeat;
  width: 47.6%;
}
.why_content {
  width: 47.6%;
}
.why_content li::before {
  content: "";
  left: 1rem;
  position: absolute;
  width: 12px;
  height: 12px;
  background-image: url("../public/assets/images/list-bullet.svg");
  background-size: contain;
}
@media screen and (max-width: 768px) {
  .why_img,
  .why_content {
    width: 100%;
  }
}

/* Timeline */
.timeline_content {
  min-height: 210px;
  border-top-right-radius: 100px;
  height: 240px;
}
